/**
 * @author: chenxiaoyong@ehaier.com
 * @date: 2015-01-11
 * @description: TS homepage
 * @require: public.css
 */



/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/

.swiper-container.slide { 
	width: 320px;
	height: 360px;
	margin-top: -48px;
	overflow: hidden;
}

@media only screen and (min-width: 360px) { 
	.swiper-container.slide { 
		width: 360px;
		height: 405px;
	}
} 

@media only screen and (min-width: 375px) { 
	.swiper-container.slide { 
		width: 375px;
		height: 422px;
	}
} 
@media only screen and (min-width: 480px) { 
	.swiper-container.slide { width: 480px;}
} 

@media only screen and (min-width: 1024px) { 
	.swiper-container.slide { 
		width: 1024px;
		height: 1152px;
	}
} 

.swiper-slide {
	position: relative;
}
.pagination {
   position: absolute;
   left: 0;
   bottom: 5px;
   width: 100%;
   text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  overflow: hidden;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #a6a6a6;
 /*  box-shadow: 0px 1px 2px #555 inset; */
  margin: 0 3px;
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}
.swiper-active-switch{background:#fff;}

.homepage .slide__profile--layout {
	position: absolute;
	left: 0;
	top: 2.4rem;
	width: 100%;
	padding: 1.25rem 0;
	color: #fff;
	text-align: center;
}
.homepage .slide__profile--type {
	font-size: .8rem;
}
.homepage .slide__profile--description {
	line-height: 2rem;
	font-size: 1.15rem;
}
.homepage .slide__profile--other {
}
.homepage .slide__profile--other .btn-line {
	border-color: #fff;
	color: #fff;
}
.homepage .slide__img{
	width: 100%;
	vertical-align: middle;
}
.homepage .promos {
	overflow: hidden;
}
.homepage .promos li{
	position: relative;
	margin: .25rem 0;
}
.homepage .promos__profile{
	color: #2e3136;
	text-decoration: none;
}
.homepage .promos__profile--layout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: .5rem 0;
	text-align: center;
}
.homepage .promos__profile--type {
	font-size: .6rem;
}
.homepage .promos__profile--description {
	font-size: .75rem;

}
.homepage .promos__profile--other {
	font-size: .55rem;
}
.homepage .promos__profile img{	width: 100%; vertical-align: middle;}
.homepage .viewMoreloading{overflow: hidden;height: 1.5rem;line-height: 1.5rem;display: none;}
.homepage .viewMoreloading .loading{margin: 0 auto}