/**
 * @author: 
 * @date: 2015-07-29
 * @description:
 * @site:
 * @require: 
 */

.order-page {
  padding-bottom: 48px;
  background-color: #f4f4f4;
}

.order-page
.nav::after {
  display: none;
}

.order-page .fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
}

.order-page .item {
  margin-bottom: -1px;
  background-color: #fff;
}


.order-page
.user-info {
  padding: 12px 34px;
  color: #000;
}

.order-page
.user-info .clearfix {
  line-height: 20px;
  font-size: 16px;
}

.order-page
.user-info p{
  position: relative;
  line-height: 20px;
  margin-top: 5px;
  font-size: 14px;
}

.order-page
.user-info
.icon-location {
  position: absolute;
  left: -25px;
  top: 0px;
}

.order-page
.item-head {
  color: #000;
  font-size: 15px;
}

.order-page
.item-head::after {
  display: none;
}

.order-page
.item-body__aside {
  border: 1px solid #efefef;
}

.order-page
.item-body__aside img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.order-page
.item-body__main {
  color: #6d6e71;
  font-size: 13px;
}

.order-page
.item-body__top {
  overflow: hidden;
  max-height: 30px;
  line-height: 15px;
  color: #000;
  font-size: 13px;
  text-overflow: ellipsis;
}

.order-page
.item-body__top span { display: block;}

.order-page
.item-body__bottom { 
  overflow: hidden; 
  height: 30px;
  line-height: 30px;
}

.order-page
.item-body__bottom 
.price {
  color: #000;
}

.order-page
.item-body__hr {
  margin: 7px 0;
}

.order-page
.list--sp .list__item {
  overflow: hidden;
  padding-left: 0;
  font-size: 14px;
}

.order-page
.list--sp .list__item 
.clearfix {
  padding-left: 12px;
}


.order-page
.list--sp { margin-top: 12px;}

.order-page
.list--sp 
.list__item
.pull-left {
  color: #000;
}

.order-page
.list--sp 
.list__item
.pull-right {
  margin-right: 25px;
  color: #6e6e6e;
}

.order-page 
.order-ps {margin-bottom: 12px;}

.order-page 
.order-ps 
.item-body {
  padding-top: 0;
}

.order-page 
.order-ps input {
  width: 80%;
  width: -webkit-calc(100% - 16px);
  width: -moz-calc(100% - 16px);
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 0;
  color: #000;
}

/* 编辑 PS:对比京东这个的操作步骤有点多，不方便 */

.order-page
.cart-btn {
  color: #fff;
  font-size: 17px;
  text-align: center;
  background-color: #f63;
}

.order-page
.cart-btn-pay {
  display: block;
  text-decoration: none;
}


.order-page
.toolbar__left {
  color: #6e6e6e;
  font-size: 14px;
}

.order-page
.toolbar__left span {
  color: #000;
}


